@import "/src/styles/variables";

.button {
  border-radius: 8px;
  border-style: solid;
  cursor: pointer;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;

  &_blue {
    background-color: @blue-color;
    border-color: @blue-color;
    color: white;
  }
}