@import "/src/styles/variables";

.auth-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  &__auth-form {
    width: 340px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
    border-radius: 12px;
    padding: 50px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__header {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    user-select: none;
    margin: 0;
  }

  &__button {
    display: block;
    width: 100%;
  }

  &__link {
    display: block;
    text-align: center;
    margin-top: 14px;
    color: @blue-color;
    font-weight: 500;
    font-size: 11px;
    line-height: 11px;
    text-decoration: none;
  }
}