.change-data {
  width: 100%;
  margin-top: 60px;

  input {
    border: none;
    outline: none;
    text-align: right;
  }

  .btn {
    display: block;
    margin: 60px auto 0 auto;
    width: 280px;
  }
}