@import "/src/styles/variables";
@import "common";

.profile-main {
  width: 100%;
  margin-top: 21px;

  &__name {
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    user-select: none;
    margin-bottom: 60px;
  }
}

.data-string__link {
  text-decoration: none;
  color: @blue-color;

  &_red {
    color: @red-color;
  }
}

.data-string.data-string_first {
  margin-top: 60px;
}